body {
  background-color: #05503C;
  background-image: url('/BackgroundSpiral.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Inter';
  font-style: normal;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;
}

button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

