/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  
.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url('/SearchCompany.svg');
  /* Add more styles for the search box container */
}
  
.connectWallet button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.connectWallet img {
  display: block;
  width: 200px;
  height: auto;
}

.logo {
  margin-right: 1rem;
  height: auto;
  max-height: 32px; /* This is for mobile devices */
  width: auto;
  display: none; /* This will hide the logo on smaller screens */
}

/* For screens larger than or equal to the 'md' breakpoint (960px by default in Material-UI v5) */
@media screen and (min-width: 960px) {
  .logo {
    max-height: 48px; /* Adjust the maximum height based on the screen size */
    display: inline-flex; /* This will show the logo on larger screens */
  }
}

@media screen and (max-width: 959px) {
  .logo {
    display: inline-flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


@media only screen and (max-width: 767px) {
  .searchBar {
    display: none;
  }

  .connectWallet {
    display: none;
  }
}
  