body {
  background-color: #05503C !important;
  background-image: url('/BackgroundSpiral.svg');
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: cover; */
  font-family: 'Inter';
  font-style: normal;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none !important;
}

a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none !important;
}

  
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}

