/* src/components/Rectangle.module.css */
  
.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 750px;
    height: 70%;
    max-height: 500px;
    background: #006837;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


.rectangle {
    display: flex;
    flex-direction: column;
    margin: 7.5%;
}

.flexButton {
    display: flex;
    flex-wrap: wrap;
}

.customTextField {
    background-color: white;
}

.button {
    background-color: white !important;
    color: black !important;
}
  
.button:hover {
    background-color: #eaebeb !important;
}

.name {
    position: fixed;
    left: 5%;
}

.box0 {
    position: fixed;
    width: 90%;
    height: 20%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); /* Adjust the position for the element's dimensions */
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
} 

.box1 {
    position: fixed;
    width: 90%;
    height: 20%;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%); /* Adjust the position for the element's dimensions */
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.buy {
    position: fixed;
    width: 90%;
    height: 13%;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -50%); /* Adjust the position for the element's dimensions */
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.inputWrapper {
    position: relative;
    display: inline-block;
  }
  
.CurSelector0 {
    width: 17.5%;
    right: 10%;
    top: 35%;
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
}

.CurSelector1 {
    width: 17.5%;
    right: 10%;
    top: 58%;
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
}

.finePrint {
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    .container1 {
      width: 90%;
      height: 80%;
      border-radius: 15px;
    }

    .CurSelector0 {
        width: 30%;
    }
    
    .CurSelector1 {
        width: 30%;
    }
}

